// media
$maxMobile : "(max-width: 767px)";
$minMeduim : "(min-width: 992px)";
$minSmall : "(min-width: 768px)";
$minLarge : "(min-width: 1200px)";
$maxMeduim : "(max-width: 1199px)";


// variables
$maincolor : #0742CD;
$subcolor: #000;
$blueColor: #2a5dd4;
$navyColor: #04004d;
$yellowColor: #ffad0d;

