* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: cairoLight;
  src: url(../fonts/Cairo/Cairo-light.ttf);
}

@font-face {
  font-family: cairoBold;
  src: url(../fonts/Cairo/Cairo-Bold.ttf);
}

body {
  font-family: cairoBold;
}

p {
  margin-bottom: 0;
}

.form-control {
  font-family: cairoLight;
  height: 50px;
}

.cart,
.c-value {
  border: 1px solid #eee;
  padding: 6px 12px;
}

.sticky {
  background-color: #fff;
  color: #000;
  box-shadow: 10px 0px 10px 1px #bab7b7;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
}

.item-btn-action {
  border: 0;
  background: none;
}

.item-btn-action i {
  font-size: 14px;
}

.currency-value {
  display: inline-flex;
  align-items: center;
}

.currency-value .value,
.currency-value .currency {
  font-size: 13px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  outline: none;
  line-height: inherit;
  transition: all .25s;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 8px 24px 9px;
  cursor: pointer;
}

.closebtn {
  font-size: 36px;
  color: #333;
  display: block;
  text-decoration: none;
}

.flash-msg {
  font-family: cairoBold;
  background-color: #fd9d08;
  padding: 15px 0;
  color: #fff;
}

@media (max-width: 767px) {
  .flash-msg {
    display: none;
  }

  .flash-msg.mobile {
    display: block;
  }
}

@media (min-width: 768px) {
  .flash-msg.mobile {
    display: none;
  }
}

.flash-msg p {
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 767px) {
  .flash-msg p {
    font-size: 15px;
  }
}

.flash-msg p span {
  color: #000;
}

.flash-msg.mobile {
  background-color: #803160;
  font-family: cairoLight;
  font-size: 15px;
}

.flash-msg.mobile p {
  margin-top: 10px;
}

.flash-msg .msg-1 {
  margin-bottom: 10px;
}

.main-header {
  box-shadow: 10px 0px 10px 1px #bab7b7;
}

.main-header .header-form {
  text-align: right;
  background-color: #07a524;
  padding: 8px;
  display: none;
  position: absolute;
  z-index: 11;
  width: 100%;
}

.main-header .header-form .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .header-form .form-content select {
  background-color: rgba(0, 0, 0, 0.15);
  outline: none;
  height: 44px;
  border-radius: 4px;
  color: #fff;
  width: 200px;
  margin-left: 10px;
  border: 0;
  padding: 0 6px;
}

.main-header .header-form .form-content .search-area {
  width: calc(100% - 200px);
  position: relative;
}

@media (max-width: 767px) {
  .main-header .header-form .form-content {
    display: block;
  }

  .main-header .header-form .form-content select,
  .main-header .header-form .form-content .search-area {
    width: 100%;
  }

  .main-header .header-form .form-content .search-area {
    margin-top: 10px;
  }
}

.main-header .header-form .form-content .search-area input[type="search"] {
  width: 100%;
  border: 0;
  padding: 10px 20px;
  border-radius: 4px;
  outline: 0;
}

.main-header .header-form .form-content .search-area .search-btn {
  position: absolute;
  left: 18px;
  top: 12px;
  outline: 0;
  border: 0;
  text-decoration: none;
  color: #333;
  background-color: #fff;
}

.main-header .header-form .form-content .search-area .search-btn i {
  font-size: 20px;
}

@media (max-width: 1199px) {
  .pc-header {
    display: none;
  }
}

.pc-header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pc-header .header-content .brand {
  max-width: 170px;
  display: block;
}

.pc-header .header-content .brand img {
  max-width: 100%;
}

.pc-header .header-content nav li {
  margin: 0 15px;
}

.pc-header .header-content nav li a {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  height: 100%;
  line-height: 100px;
  transition: color .25s;
  z-index: 1;
  padding: 0 16px;
}

.pc-header .header-content nav li a:before {
  content: "";
  right: 50%;
  position: absolute;
  top: 0;
  width: 0;
  height: 3px;
  transform: translateX(50%);
  background-color: green;
  transition: width .25s;
}

.pc-header .header-content nav li a:hover {
  background-color: rgba(249, 249, 249, 0.5);
}

.pc-header .header-content nav li a:hover:before {
  width: 100%;
}

.pc-header .header-content .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pc-header .header-content .actions .search-toggler {
  margin-left: 15px;
  color: #333;
}

.pc-header .header-content .actions .cart-container {
  display: flex;
  align-items: center;
}

.pc-header .header-content .actions .cart-container .cart {
  display: block;
  border-left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #333;
}

.pc-header .header-content .actions .cart-container .c-value {
  margin-right: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pc-header .cart {
  position: relative;
}

.pc-header .cart span {
  color: #fff;
  position: absolute;
  top: -2px;
  left: -5px;
  font-weight: thin;
  padding: 3px 5px;
}

.mobile-header {
  display: none;
}

@media (max-width: 1199px) {
  .mobile-header {
    display: block;
    padding: 10px 0;
  }
}

.pc-header .actions .btn:hover,
.mobile-header .actions .btn:hover {
  background-color: transparent;
  color: #07a524;
}

.mobile-header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-header .header-content .mob-brand {
  display: flex;
  align-items: center;
}

.mobile-header .header-content .mob-brand .bars {
  color: #333;
}

.mobile-header .header-content .mob-brand .bars i {
  font-size: 25px;
}

.mobile-header .header-content .mob-brand .brand {
  max-width: 120px;
  display: block;
  margin-right: 10px;
}

.mobile-header .header-content .mob-brand .brand img {
  max-width: 100%;
}

.mobile-header .header-content .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-header .header-content .actions .search-toggler {
  margin-left: 15px;
  color: #333;
}

.mobile-header .header-content .actions .cart-container {
  display: flex;
  align-items: center;
}

.mobile-header .cart {
  position: relative;
  border: none;
  color: #000;
}

.mobile-header .cart span {
  color: #fff;
  position: absolute;
  top: 0px;
  left: 3px;
  font-weight: thin;
  padding: 3px 5px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 100;
}

.sidenav .cart-header {
  padding: 0 15px;
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidenav .cart-header h3 {
  color: #1a1a1a;
  font-size: 20px;
  margin-bottom: 0;
  font-weight: bold;
}

.sidenav .cart-header h3 small {
  margin-right: 5px;
}

.sidenav .cart-body {
  height: calc(100% - 218px);
  overflow-y: auto;
  padding: 15px;
}

.sidenav .cart-body .cart-list form ul .cart-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sidenav .cart-body .cart-list form ul .cart-item img {
  border: 1px solid #f0f0f0;
  width: 60px;
  display: block;
  max-width: 100%;
  height: auto;
}

.sidenav .cart-body .cart-list form ul .cart-item .item-body {
  display: flex;
  width: calc(100% - 60px);
  margin-right: 10px;
}

.sidenav .cart-body .cart-list form ul .cart-item .item-body .item-details {
  margin-top: 5px;
  width: calc(100% - 25px);
}

.sidenav .cart-body .cart-list form ul .cart-item .item-body .item-details h3 {
  margin: 0 0 8px;
  font-size: 14px;
  text-align: right;
  font-weight: 600;
}

.sidenav .cart-body .cart-list form ul .cart-item .item-body .item-details h3 a {
  background-color: transparent;
  color: #1b1e21;
  display: block;
}

.sidenav .cart-body .cart-list form ul .cart-item .item-body .item-details .quantity-wrapper {
  display: flex;
  align-items: center;
}

.sidenav .cart-body .cart-list form ul .cart-item .item-body .item-details .quantity-wrapper .quantity {
  font-size: 14px;
  font-weight: 500;
}

.sidenav .cart-body .cart-list form ul .cart-item .item-body .item-details .quantity-wrapper .quantity small {
  text-align: center;
  background-color: #fafafa;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  padding: 0 1px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 13px;
  min-width: 20px;
  height: 18px;
  display: inline-block;
  line-height: 16px;
  font-weight: 600;
}

.sidenav .cart-body .cart-list form ul .cart-item .item-body .item-actions {
  background-color: #fafafa;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  height: 50px;
}

.sidenav .cart-body .cart-list form ul .cart-item .item-body .item-actions .edit {
  transition: all .25s;
  outline: none;
}

.sidenav .cart-footer {
  padding: 15px;
  background-color: #fafafa;
  border-top: 1px solid #f0f0f0;
}

.sidenav .cart-footer h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
}

.sidenav .cart-footer .cart-actions {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.sidenav .cart-footer .cart-actions .primary-btn {
  margin-bottom: 10px;
  background-color: #1c7430;
  color: #fff;
  border-color: #e5e5e5;
}

.sidenav .cart-footer .cart-actions .default-btn {
  border-color: #e5e5e5;
}

.right-side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 100;
}

.right-side-nav .right-content {
  padding: 20px;
}

.right-side-nav .right-content .nav-bar {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  max-width: 170px;
  height: 65px;
  margin: 0 auto;
}

.right-side-nav .right-content .nav-bar img {
  max-height: 100%;
}

.right-side-nav .right-content form {
  margin: 20px 0;
}

.right-side-nav .right-content form .search-input {
  position: relative;
}

.right-side-nav .right-content form .search-input input {
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  padding: 10px 15px;
  background-color: transparent;
  height: 50px;
  width: 100%;
  -webkit-transition: all .25s;
  transition: all .25s;
  -webkit-appearance: textfield;
  outline-offset: -2px;
  outline: none;
}

.right-side-nav .right-content form .search-input button {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 100%;
  font-size: 18px;
  text-align: center;
  left: 0;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: button;
  outline: none;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.right-side-nav .right-content form .search-input a {
  position: absolute;
  top: 13px;
  left: 10px;
  color: #333;
}

.right-side-nav .right-content ul {
  margin-bottom: 20px;
}

.right-side-nav .right-content ul li {
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-side-nav .right-content ul li a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-weight: 600;
  font-size: 13px;
  text-transform: capitalize;
  -webkit-transition: color .35s ease;
  transition: color .35s ease;
  color: inherit;
  padding: 15px 0;
  text-decoration: none;
}

.slider .carousel-inner {
  height: 555px;
  margin-bottom: 20px;
  position: relative;
}

.slider .carousel-inner img {
  height: 555px;
  opacity: 0.5;
  object-fit: cover;
}

.slider .carousel-inner .carousel-caption {
  text-shadow: 0 3px 20px #474747;
}

@media (min-width: 768px) {
  .slider .carousel-inner .carousel-caption {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }
}

.slider .carousel-inner:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #383838;
}

@media (max-width: 360px) {
  .slider .carousel-indicators {
    display: none;
  }
}

.slider .carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ee4444;
}

.products {
  padding: 50px 0;
}

.products .pro-heading {
  margin-bottom: 50px;
}

.products .pro-heading h2 {
  font-family: cairoBold;
  font-size: 25px;
  letter-spacing: 0;
  font-weight: bold;
}

.products .pro-heading p {
  font-family: cairoLight;
}

.products .product-item {
  border: 1px solid #f0f0f0;
  box-shadow: 0 5px 20px -10px #eee;
  border-radius: 3px;
  border-color: #f0f0f0;
  margin-bottom: 30px;
}

.products .product-item .product-thumbnail {
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
  padding: 0 0 100%;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  color: green;
}

.products .product-item .product-thumbnail img {
  position: absolute;
  top: 50%;
  max-height: 100%;
  text-indent: -9999px;
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
  display: block;
  max-width: 100%;
  height: auto;
  right: 50%;
  -webkit-transform: translate(50%, -50%) scale(1);
  transform: translate(50%, -50%) scale(1);
}

.products .product-item .product-details {
  border-color: #f0f0f0;
  padding: 20px 15px;
  text-align: center;
  border-top: 1px solid #f0f0f0;
  transition: border .25s;
}

.products .product-item .product-details .info .title {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 10px;
}

.products .product-item .product-details .info .title a {
  color: #000000;
  display: block;
  text-decoration: none;
  font-weight: bold;
}

.products .product-item .product-details .info .price {
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.products .product-item .product-details .info .price .before {
  text-decoration: line-through;
  color: #747474;
  margin-bottom: 5px;
}

.products .product-item .product-details .info .price .after {
  color: #803160;
  font-size: 16px;
  font-weight: 700;
}

.products .product-item .product-details .actions {
  margin: 15px 0 0;
}

.products .product-item .product-details .actions a {
  color: #803160;
  background-color: #ffffff;
  border-color: #803160;
  border: 1px solid;
  display: block;
  width: 100%;
  margin: auto;
  padding: 5px;
  border-radius: 4px;
  text-decoration: none;
  transition: all .25s;
}

.products .product-item .product-details .actions a:hover {
  color: #ffffff;
  background-color: #803160;
  border-color: #ffffff;
}

.products .product-item:hover {
  border-color: #803160;
}

.products .product-item:hover .product-thumbnail img {
  transform: translate(50%, -50%) scale(1.1);
}

.products .product-item:hover .product-details {
  border-color: #803160;
}

.products .product-item.special:hover {
  border-color: #f0f0f0;
}

.products .product-item.special:hover .product-details {
  border-color: #f0f0f0;
}

.btn-showmore button {
  color: #696969;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0 !important;
  display: block;
  max-width: fit-content;
  margin: 20px auto 0 auto;
  padding: 5px 25px;
  border-radius: 4px;
  transition: all .25s;
}

.btn-showmore.green button:hover {
  color: #07a524 !important;
  border-color: #07a524 !important;
}

.btn-showmore button:hover {
  color: #803160 !important;
  border-color: #803160 !important;
}

/* footer */
footer {
  background-color: #fefefe;
  color: black;
  border-top: 1px solid #f0f0f0;
  text-align: right;
}

footer .footer-brand {
  padding: 30px 0;
}

footer .footer-brand a {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 170px;
  height: 85px;
  text-decoration: none;
  outline: none;
  margin: auto;
}

footer .footer-brand a img {
  max-height: 100%;
}

footer .footer-body {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  padding: 30px 0;
}

@media (max-width: 767px) {
  footer .footer-body .footer-item {
    text-align: center;
  }
}

footer .footer-body .footer-item h3 {
  padding: 0 0 20px;
  font-size: 15px;
  font-weight: 600;
}

footer .footer-body .footer-item h3:after {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  margin: 8px 0 0;
  background-color: #07a524;
}

@media (max-width: 767px) {
  footer .footer-body .footer-item h3:after {
    margin: 8px auto;
  }
}

footer .footer-body .footer-item ul li {
  margin-bottom: 10px;
}

footer .footer-body .footer-item ul li a {
  display: block;
  font-size: 13px;
  transition: color .25s;
  text-decoration: none;
  outline: none;
  color: #000;
}

footer .footer-body .footer-item ul li a:hover {
  color: #07a524;
}

/* empty searh pagw */
.search-results-section .empty-img {
  width: 60%;
  margin: 50px 0;
}

.search-results-section .search-results p {
  font-size: 25px;
  text-align: right
}

.search-results-section .search-results span {
  font-size: 15px;
  font-weight: 100;
  font-family: cairoLight;
}

.search-results-section .filter-btn {
  background: none;
  border: none;
  font-family: cairoLight;
  font-size: 15px;
  margin: 0 10px;
  outline: none;
}

.search-results-section .search-filters {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .search-results-section .search-filters {
    display: block;
  }

  .search-results-section .search-results p {
    text-align: center
  }

  .search-results-section .search-results span {
    display: block;
    text-align: center;
    margin: 10px 0;
  }

  .search-results-section .search-filters span {
    text-align: center;
    display: block;
  }

  .search-results-section .filter-btns {
    width: fit-content;
    margin: 10px auto;
  }
}

/* search results products */
.search-results-section .filter-btn:focus {
  color: #07a524;
  border: none !important;
}

.search-results-section .product-item:hover,
.search-results-section .product-item:hover .product-details {
  border-color: #07a524;
}

.search-results-section .product-item .product-details .actions a {
  color: #07a524;
  background-color: #ffffff;
  border-color: #07a524;
}

.products .product-item .product-details .actions a:hover {
  color: #ffffff;
  background-color: #07a524;
  border-color: #ffffff;
}

/* contact */
.contact-methods {
  font-family: cairoLight;
  font-size: 15px;
  text-align: right;
  line-height: 40px;
}

.form-input {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 15px;
  left: 10px;
  color: #ccc;
  font-size: 18px;
}

/* gallery */
.gallery-section .gallery {
  position: -webkit-sticky;
  position: sticky;
  display: block;
  top: 70px;
}

.fotorama__stage {
  margin-bottom: 20px;
}

.fotorama__thumb-border {
  display: none;
}

.fotorama__active {
  border: 1px solid #eee;
  border-radius: 4px;
}

.fotorama__nav--thumbs .fotorama__nav__frame {
  border: 1px solid #eee;
  border-radius: 4px;
  text-decoration: none;
  padding: 5px 10px !important;
  width: 80px;
  margin: 10px;
}

.fotorama__nav__frame.fotorama__nav__frame--thumb.fotorama__active {
  border-color: #803160;
}

.gallery-section .product-details .price {
  text-align: right;
}

.gallery-section .product-details .price .before {
  color: #803160;
  font-weight: bold;
  font-size: 30px;
}

.gallery-section .product-details .price .after {
  color: #ccc;
  font-size: 18px;
  text-decoration: line-through;
  margin-right: 20px;
}

.gallery-section .product-details .viewers {
  background-color: #803160;
  padding: 0px 12px;
  border-radius: 4px;
  margin: 0 5px;
  color: #fff;
}

.gallery-section .progress-bar {
  background-color: #803160;
}

.gallery-section .duration {
  font-weight: bold;
  font-size: 30px;
  color: #000;
}

.gallery-section .duration.has-del::after {
  content: ":";
  position: absolute;
  left: 10px;
}

.gallery-section .duration-type {
  font-size: 15px;
  font-family: cairoLight;
}

.gallery-section .actions {
  display: flex;
}

.gallery-section .btn-light {
  background-color: #eee;
}

.gallery-section .btn-success:hover {
  background-color: #f10b0b;
  border: none;
}

@media (max-width: 767px) {
  .product-purchase {
    position: fixed;
    bottom: -16px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    margin: 0;
    padding: 15px;
    left: 50%;
    transform: translate(-50%);
    padding-left: 25px;
  }

  .product-purchase span {
    color: white;
  }
}

/* checkout */
.continue.btn:hover {
  background-color: transparent;
  color: #07a524;
}

.card {
  text-align: right;
}

.card .card-body .card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .card-body .card-item a,
.card .card-body .card-item span {
  font-family: cairoLight;
  text-decoration: none;
  font-size: 15px;
  margin: 0 5px;
}

.card .card-body .card-item a {
  max-width: 55%;
}

.card .card-body .card-item p {
  font-size: 15px;
}

.card .card-body .card-item .green-text {
  color: #07a524;
}

.card .card-body .card-item .card-image {
  position: relative;
  margin: 0 5px;
}

.card .card-body .card-item .card-image img {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60px;
  height: 70px;
}

.card .card-body .card-item .card-image .badge {
  color: #fff;
  position: absolute;
  top: -10px;
  left: -5px;
  padding: 7px 10px;
}

.card-header .btn-link {
  color: #07a524;
  text-decoration: none;
}

.card-header .btn-link:focus {
  outline: none !important;
}

/* purchase completed */
.summary .info-cont {
  display: flex;
  justify-content: space-between;
}

.summary .info-cont .info {
  background-color: #fff;
  border: 0.5px solid #ccc;
  border-radius: 4px;
  padding: 10px 0;
  width: 48%;
  font-size: 15px;
}

.summary .summary-table {
  width: 100%;
  background-color: #fff;
  border: 0.5px solid #ccc;
  border-radius: 4px;
}

.summary table th {
  font-family: cairoLight;
  font-weight: lighter;
  color: #aaa;
}

.summary table td,
.summary .pricing {
  font-family: cairoLight;
  color: #333;
}

.summary table tr a,
.cart-summ .card table tr a {
  text-decoration: none;
}

.summary table td .quantity {
  border: 0.5px solid #ccc;
  border-radius: 4px;
  padding: 1px 12px;
}

/* cart summ */
.cart-summ a {
  text-decoration: none;
}

.cart-summ .card table th {
  font-family: cairoLight;
  font-weight: lighter;
}

.cart-summ .card table th,
.cart-summ .card table td {
  border-bottom: 0.5px solid #eee;
  border-right: 0.5px solid #eee;
}

.cart-summ .card table th:first-child,
.cart-summ .card table td:first-child {
  border-right: none;
}

.cart-summ .card table td,
.cart-summ .card table tbody tr th {
  padding: 25px;
}

.cart-summ .card table .quantity {
  min-width: 170px;
}

/* text pages */
.text p {
  font-family: cairoLight;
}

/*# sourceMappingURL=style.css.map */


/* ================================ new styles ====================== */
* {
  transition: all .5s ease-in-out;
}

.default-color,
a:hover {
  color: #803160;
}

.summary,
.tax {
  border-bottom: 2px solid #803160;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #803160;
  outline: 0;
  box-shadow: none;
}

.features {
  background-color: #F4F6F6;
  border-radius: 40px 40px 0 0;
  box-shadow: -1px -2px 20px #c1c1c170;
}

.whatsApp-msgs {
  position: fixed;
  bottom: 60px;
  z-index: 999;
  width: 50px;
  left: 25px;
  background: #fff;
  border-radius: 50%;
  padding: 10px;
  height: 50px;
  box-shadow: -1px 0px 10px #8031608f;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ee4444a4;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ee4444;
}

footer .social a {
  display: inline-block;
  border: 1px solid #803160;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 0px;
  line-height: 1.8;
  margin-inline-end: 4px;
  color: #803160;
}

footer .social a:hover {
  border-radius: 50%;
  color: #000;
}

.default-btn:hover {
  color: #ffffff;
  background-color: #07a524;
  border-color: #ffffff;
}

.default-btn {
  color: #803160;
  background-color: #ffffff;
  border-color: #803160;
  border: 1px solid;
  display: block;
  width: 100%;
  margin: auto;
  padding: 5px;
  border-radius: 4px;
  text-decoration: none;
  transition: all .25s;
}

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.sold-together .btn-outline-primary,
.sizes .btn-outline-primary,
.images .btn-outline-primary {
  color: #803160;
  border-color: #803160;
}

.sizes .btn-outline-primary:hover,
.sizes .btn-check:checked+.btn-outline-primary,
.sizes .btn-check:active+.btn-outline-primary,
.sizes .btn-check:checked+.btn-outline-primary p.text-dark,
.images .btn-outline-primary:hover,
.images .btn-check:checked+.btn-outline-primary,
.images .btn-check:active+.btn-outline-primary,
.images .btn-check:checked+.btn-outline-primary p.text-dark,
.sold-together .btn-outline-primary:hover,
.sold-together .btn-check:checked+.btn-outline-primary,
.sold-together .btn-check:active+.btn-outline-primary,
.sold-together .btn-check:checked+.btn-outline-primary p.text-dark {
  color: #fff !important;
  background-color: #803160;
  border-color: #803160;
  font-weight: 700;
}

.sizes .btn-check:checked+.btn-outline-primary:focus,
.sizes .btn-check:focus+.btn-outline-primary,
.images .btn-check:checked+.btn-outline-primary:focus,
.images .btn-check:focus+.btn-outline-primary,
.sold-together .btn-check:checked+.btn-outline-primary:focus,
.sold-together .btn-check:focus+.btn-outline-primary {
  box-shadow: none;
}

.images .btn img {
  height: 50px;
  width: 100%;
  object-fit: contain;
}

.dropdown .form-select:focus {
  border-color: #803160;
  outline: 0;
  box-shadow: none;
  color: #803160;
}

.colors .btn-check:checked+.btn:before {
  content: "\f00c";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  font-size: 15px;
  text-align: center;
}

.btn-group.colors .btn {
  width: 25px !important;
  height: 25px;
  border-radius: 50%;
  margin-inline: 10px;
  position: relative;
}

.sold-together img,
.second-sold-together img {
  width: auto;
  height: 100px;
  object-fit: contain;
  border-radius: 10px;
}

#productDetailsSlider img {
  border-radius:0px;
  box-shadow: 0px 0px 10px #bbafaf29;
  height: 400px;
  width: 100%;
  margin: auto;
  object-fit: contain;
}

#product-details-Slider2 .swiper-slide {
  height: 400px;
  width: 100%;
}

#product-details-Slider2 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0px;
  box-shadow: 0px 0px 10px #bbafaf29;
}

#product-details-Slider2 .swiper-button-prev,
#product-details-Slider2 .swiper-button-next {
  color: #803160;
}

.snippet input {
  text-align-last: center;
  padding: 0;
  height: 40px;
  width: 50px;
  background: transparent;
  border: none;
}

.snippet {
  color: #606060;
  background-color: #ffffff !important;
  border-color: #ffffff;
  border: 1px solid #803160;
  display: flex;
  border-radius: 5px;
  width: fit-content;
  direction: ltr;
}

.snippet input[type="number"] {
  border-right: 1px solid #803160;
  border-radius: 0;
  border-left: 1px solid #803160;
  padding: 0;
  padding-left: 0px;
}

.snippet input:focus {
  outline: none;
}
@media (max-width: 768px) {
  #productDetailsSlider img {
    height: 300px;
  }
  .snippet {
    margin-inline: auto;
}
}

@media (min-width: 1200px) {
  .fs-2 {
    font-size: 2rem !important;
  }

  .fs-4 {
    font-size: 1.5rem !important;
  }
}